@using Abp.Authorization.Users
@using OnlineTestForCLanguage.Web.Models.Common.Modals
@using OnlineTestForCLanguage.Web.Models.Exams
@model EditExamModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("编辑试题")))
<form name="UserEditForm" role="form" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.Exam.Id" />
    <div class="modal-body">
        <div class="tab-content mt-4">
            <div role="tabpanel" class="tab-pane container active" id="edit-exam-details">
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="Title">标题</label>
                    <div class="col-md-9">
                        <input id="Title" type="text" class="form-control" name="Title" value="@Model.Exam.Title" required  minlength="2">
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Exams/_EditModal.js" asp-append-version="true"></script>
