@using OnlineTestForCLanguage.Web.Startup
@model OnlineTestForCLanguage.Web.Models.Exams.IndexViewModel
@{ 
    ViewBag.Title = "考题管理";
    ViewBag.CurrentPageName = PageNames.Exams; 
}

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Exams/Index.js" asp-append-version="true"></script>
    </environment>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>考题信息</h1>
            </div>
            <div class="col-sm-6">
                <a href="javascript:;" data-toggle="modal" data-target="#ExamCreateModal" class="btn bg-blue float-sm-right">
                    <i class="fa fa-plus-square"></i>
                    新增
                </a>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <!--Use for bulk actions-->
                            </div>
                            <div class="col-md-6">
                                @await Html.PartialAsync("~/Views/Exams/Index.AdvancedSearch.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="ExamsTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>考题编号</th>
                                        <th>考题类型</th>
                                        <th>考题难度</th>
                                        <th>考题内容</th>
                                        <th>考题标题</th>
                                        <th>创建时间</th>
                                        <th style="width: 150px">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Exams/_CreateModal.cshtml", Model)

<div class="modal fade" id="examEditModal" tabindex="-1" role="dialog" aria-labelledby="ExamEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
