0@using Abp.Authorization.Users
@using OnlineTestForCLanguage.Web.Models.Common.Modals
@using OnlineTestForCLanguage.Web.Models.Exams
@model EditExamModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("编辑考题"))
<form name="UserEditForm" role="form" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.Exam.Id" />
    <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" role="tab" href="#create-Exam-details">考试明细</a>
            </li>
        </ul>
        <div class="tab-content mt-4">
            <div role="tabpanel" class="tab-pane container active" id="edit-exam-details">
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="Title">标题</label>
                    <div class="col-md-9">
                        <input id="Title" type="text" class="form-control" name="Title" value="@Model.Exam.Title" required minlength="2">
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label">考题难度</label>
                    <div class="col-md-9">
                        <select class="form-control" name="Difficulty" required>
                            <option value="0">简单</option>
                            <option value="1">一般</option>
                            <option value="2">困难</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label">考题类型</label>
                    <div class="col-md-9">
                        <select class="form-control" name="ExamType" required>
                            <option value="0">单选题</option>
                            <option value="1">多选题</option>
                            <option value="2">判断题</option>
                            <option value="3">简答题</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label">考题内容</label>
                    <div class="col-md-9">
                        <input type="text" name="Content" class="form-control" value="@Model.Exam.Content" required maxlength="4000">
                    </div>
                </div>

            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Exams/_EditModal.js" asp-append-version="true"></script>
