@using OnlineTestForCLanguage.Web.Startup
@{
    ViewBag.Title = "主页";
    ViewBag.CurrentPageName = PageNames.Home;
}
@section scripts
{
    <environment names="Development">
        <script src="~/libs/chartjs/dist/Chart.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Home/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/home-index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">主页</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center">
                       
                        <h1>
                            欢 迎 管 理 员
                        </h1>

                    </div>

                </div>
                <div class="card">
                    <div class="card-header text-left col-md-8 offset-md-2">
                        管理员拥有所有权限，以便对系统进行检测维护，来保持系统正常运行。
                        <br />
                        （一）负责本校的信息（数据）库建设
                        <br />
                        1、根据学校要求，每天定时检查系统，及时做好修护工作。
                        <br />
                        2、录入学生和老师的所有用户信息。
                        <br />
                        3、定期向本校分管领导汇报情况，主动提出完善、改进的意见或建议。
                        <br />
                        （二）负责网站建设与维护
                        <br />
                        1、对网站的前台要求：栏目设计合理，内容及时更新，信息准确详实，真正负担起本校在教学、科研、交流与合作、管理等工作。
                        <br />
                        2、对具有交互功能的网页内容做好管理，认真整理来自各方面的建议，及时反应给有关人员并做好反馈，避免不良信息在网上传播。
                        <br />
                        （三）网络管理员的考核
                        <br />
                        每学期末，由校务会和教师代表对学校网站评比打分，其结果在网站上发布，根据结果，对网站管理员的业绩进行年度考核聘任。

                    </div>

                </div>

            </div>
         
        </div>
    </div>
</section>
